.title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  margin-left: 5px;
  line-height: 42px;
}

@media (max-width: 600px) {
  .title {
    font-size: 14px;
    line-height: 18px;
    flex-shrink: 1;
  }
}